<!-- Header -->
<header>
  <nav class="navbar">
    <div class="logo">SkillMatch AI</div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Register</a></li>
    </ul>
  </nav>
</header>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
  <h1>Find Jobs Based on Your Skills</h1>
  <p>We connect job seekers with the best companies using smart matching.</p>
  <button routerLink="/login">Start Hiring</button>
  <button routerLink="/login">Start Applying</button>
  </div>
   <div class="hero-image">
    <img src="hero.webp" alt="Business man" >
  </div> 
</section>

<!-- Features Section -->
 <h2 style="text-align: center; margin-top: 2rem;">How it works</h2>
<section class="features">  
  <div class="feature">
    <h3>Smart Matching</h3>
    <img src="job-offer.png" alt="">
    <p>Get jobs that
match your skills.</p>
  </div>
  <div class="feature">
    <h3>Skill Assessment</h3>
    <img src="people.png" alt="">
    <p>Test your skills and improve.</p>
  </div>
  <div class="feature">
    <h3>Career guidance</h3>
    <img src="guidance.png" alt="">
    <p>Get personalized tips to advance your career.</p>
  </div>
</section>

<!-- Footer -->
<footer>
  <p>&copy; 2025 SkillMatch AI. All rights reserved.</p>
</footer>
