<div class="dashboard-container">
  
  <!-- Toggle button for smaller screens -->
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="logo">SkillMatch AI</div>
    <nav>
      <a routerLink="admin-overview" routerLinkActive="active">Overview</a>
      <a routerLink="user-management" routerLinkActive="active">User Management</a>
      <a routerLink="ai-accuracy" routerLinkActive="active">AI Accuracy</a>
      <a routerLink="system-performance" routerLinkActive="active">System Performance</a>
      <a routerLink="reports-and-logs" routerLinkActive="active">Reports and Logs</a>
      <a routerLink="security" routerLinkActive="active">Security</a>
      <a routerLink="admin-settings" routerLinkActive="active">Settings</a>
      <a routerLink="/login">Logout</a>
    </nav>
  </aside>
  <div class="backdrop" *ngIf="isSidebarCollapsed" (click)="toggleSidebar()"></div>


  <!-- Main content -->
  <main class="main-content" [class.expanded]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>
</div>
