<div class="dashboard-container">
  
  <!-- Toggle button for smaller screens -->
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="logo">SkillMatch AI</div>
    <nav>
      <a routerLink="overview" routerLinkActive="active">Overview</a>
      <a routerLink="jobs" routerLinkActive="active">Jobs</a>
      <a routerLink="applications" routerLinkActive="active">Applications</a>
      <a routerLink="profile" routerLinkActive="active">Profile</a>
      <a routerLink="career-guidance" routerLinkActive="active">Career Path</a>
      <a routerLink="notifications" routerLinkActive="active">Notifications</a>
      <a routerLink="settings" routerLinkActive="active">Settings</a>
      <a (click)="logout()" >Logout</a>
    </nav>
  </aside>
  <div class="backdrop" *ngIf="isSidebarCollapsed" (click)="toggleSidebar()"></div>


  <!-- Main content -->
  <main class="main-content" [class.expanded]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>
</div>
