<div class="dashboard-container">
  
  <!-- Toggle button for smaller screens -->
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="logo">SkillMatch AI</div>
    <nav>
      <a routerLink="home" routerLinkActive="active">Overview</a>
      <a routerLink="job-listings" routerLinkActive="active">Job Listings</a>
      <a routerLink="applicants" routerLinkActive="active">Applicants</a>
      <a routerLink="ai-assistant" routerLinkActive="active">AI Assistant</a>
      <a routerLink="interviews" routerLinkActive="active">Interviews</a>
      <a routerLink="analytics" routerLinkActive="active">Analytics</a>
      <a routerLink="settings" routerLinkActive="active">Settings</a>
      <a routerLink="/login">Logout</a>
    </nav>
  </aside>
  <div class="backdrop" *ngIf="isSidebarCollapsed" (click)="toggleSidebar()"></div>


  <!-- Main content -->
  <main class="main-content" [class.expanded]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>
</div>
